#svoboda{
position: relative; 
}
#svoboda:hover::after {
content: "Статуя Свободы — колоссальная неоклассическая скульптура на острове Свободы в Нью-Йоркской гавани. Статуя, покрытая медью, — подарок Соединённым Штатам от народа Франции. Она была открыта 28 октября 1886 года. Женщина держит над головой в правой руке факел, а в левой руке у неё табличка с надписью JULY IV MDCCLXXVI (4 июля 1776 года, римскими цифрами), дата Декларации независимости США. Левой ногой она наступает на разорванную цепь и оковы, символизирующие отмену рабства после Гражданской войны. Высота статуи от основания пьедестала до кончика факела — 93 метра.";
position: absolute;
transform: translateX(-35%);
font-size: 1.2rem; 
width: 1000px;
background-color: rgb(184, 208, 189); 
color: rgb(34, 18, 99); 
text-align: center; 
border-radius: 20px; 
display: none; 
padding: 1rem;
display: block; 
}

