* { margin: 0; padding: 0; }
body { background-image: url(backfon.jpg);
	background-size: cover;
	background-repeat: no-repeat;	
		min-height: 100vh;	
		font-family: sans-serif;
		overflow: hidden;
}
.text { padding-top: 8rem; color: red;
	margin: 0 auto;
	max-width: 75%;
	font-size: 35px;
	line-height: 1.8;
	text-align: center;
}
.text div {	display: inline-block; }

div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
div .text{
    position: relative;
}
div .text span{
    position: relative;
    display: inline-block;
}
